<div>
  <h1> {{ name_employee }}</h1>
  <button (click)="changeExtern(true)" *ngIf="!extern_worker">Mostrar Empleado 2</button>
  <button (click)="changeExtern(false)" *ngIf="extern_worker">Mostrar Empleado 1</button>
  <hr>
  <b>Star Employee</b>
  <ul *ngIf="extern_worker">
    <li>{{ workers[0].name }}</li>
    <li>{{ workers[0].age }}</li>
    <li>{{ workers[0].type }}</li>
  </ul>

  <ul *ngIf="!extern_worker">
    <li>{{ workers[1].name }}</li>
    <li>{{ workers[1].age }}</li>
    <li>{{ workers[1].type }}</li>
  </ul>

  <hr>
  <h3>Lista de Empleados</h3>
  <ul>
    <li *ngFor="let employee of workers; let i = index">
      <b>Empleado {{ i+1 }}:</b>
      <ul>
        <li>{{ employee.name }}</li>
        <li>{{ employee.age }}</li>
        <li>{{ employee.type }}</li>
      </ul>
    </li>
  </ul>

  <hr>

  <h5>Colores SWITCH</h5>
  <ul [ngSwitch]="colour">
    <li *ngSwitchCase="'red'" [ngStyle]="{color: colour}"> RED </li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{color: colour}"> BLUE </li>
    <li *ngSwitchCase="'green'" [ngStyle]="{color: colour}"> GREEN </li>
  </ul>

  <hr>
  <h5>Selector de Colores</h5>
  <input type="text" [(ngModel)]="colour_selected"/>
  <pre [style.border]="colour_selected == 'red' ? '1px solid red' : '1px solid black'">
    {{ colour_selected }}
  </pre>
  <div [ngStyle]="{
        'background-color': colour_selected,
        'height': '100px',
        'width': '100px',
        'margin': '10px'
      }"></div>

</div>
