<h1> Welcome to {{ title }}!</h1>
<!--<fruit>Cargando...</fruit>-->
<!--<employee></employee>-->
<a href=""></a>
<style>
  .active{
    color: red;
  }
</style>
<a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a> -
<a [routerLink]="['/fruit']" [routerLinkActive]="['active']">Fruit</a> -
<a [routerLink]="['/employee']" [routerLinkActive]="['active']">Employee</a> -
<a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact</a><br>
<router-outlet></router-outlet>
